@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scrollbar-hide;
}

.bottom-nav {
  max-width: 480px;
  right: 50%;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}